<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../redux/global-store.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../elements/add-form.html">
<link rel="import" href="../elements/add-list.html">

<dom-module id="adds-section">
  <template>
    <style include="shared-styles">
      :host{
        display: block;
        height: 100%;
        min-height: 100vh;
      }
    </style>
    <h1>Anuncios</h1>
    <div class="horizontal">
      <add-form class="flex"></add-form>
      <add-list class="flex" adds="[[adds]]"></add-list>
    </div>
  </template>
  <script>
    class AddsSection extends GlobalStoreMixin(Polymer.Element){
      static get is() {return 'adds-section';}
      static get properties() {
        return {
          loading:{
            type:Boolean
          },
          adds:{
            type:Array,
            value:()=>{
              return [
                {
                  id:'123123',
                  title:'Anuncio 1',
                  type:'Tipo1',
                  description:'Anuncio numero 1 de toda la vida',
                  contactEmail:'hello@world.com',
                  url:'facebook.com',
                  photoPublicId:'maauhf61unuqfssjeid4',
                  published:false,
                  place:'Quito,Ecuador',
                  location:{
                    latitude:100,
                    longitude:100
                  }
                },
                {
                  id:'123124',
                  title:'Anuncio 2',
                  type:'Tipo2',
                  description:'Anuncio numero 2 de toda la vida',
                  contactEmail:'hello@world.com',
                  url:'twitter.com',
                  photoPublicId:'maauhf61unuqfssjeid4',
                  published:false,
                  place:'Riobamba,Ecuador',
                  location:{
                    latitude:100,
                    longitude:100
                  }
                }
              ];
            }
          }
        };
      }
    }
    customElements.define(AddsSection.is, AddsSection);
  </script>
</dom-module>
