<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/prism-table/prism-data-table.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../redux/global-store.html">
<link rel="import" href="../redux/actions/search-actions.html">

<dom-module id="account-view">
  <template>
    <style include="shared-styles app-grid-style">
      :host {
        display: block;
        --app-grid-columns: 4;
        --app-grid-gutter: 12px;
        --app-grid-expandible-item-columns: 2;
        --app-grid-item-height: 50%;
      }
      div.card{
        @apply --shadow-elevation-2dp;
        padding: 8px;
        background-color: #fff;
      }
      .relative{
        position: relative;
      }
      div.overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.3);
      }
      div.results{
        max-height: 600px;
        overflow: auto;
        margin-top: 12px;
      }
      div.results-top{
        padding: 8px;
        @apply --layout-horizontal;
      }
      div.result{
        padding: 8px;
        @apply --layout-horizontal;
        height: 32px;raised
        border-bottom: 1px solid rgba(0,0,0,0.3);
      }
      div.result:nth-last-child(2){
        border-bottom: 0px;
      }
      span.link{
        color: var(--accent-color);
        cursor: pointer;
      }
      div.benefits{
        width: 25rem;
      }
    </style>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>
    <app-drawer-layout>
      <app-drawer slot="drawer">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="start" href="/account/start">Inicio</a>
          <a name="users" href="/account/users">Usuarios</a>
          <a name="users" href="/account/payments">Pagos por Verificar</a>
        </iron-selector>
      </app-drawer>
      <div>
        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="start" role="main">
          <section name="start" class="vertical p2">
            <div class="horizontal m1-b">
              Administrador
            </div>
          </section>
          <section name="users" class="p2 vertical">
            <span class="font-display1 self-start m1-b">Usuarios</span>
            <div class="horizontal">
              <div class="vertical flex">
                <span class="font-headline s m1-b">Filtros</span>
                <div class="card horizontal">
                  <paper-input class="m1-r" label="Email" value="{{query.email}}"></paper-input>
                  <paper-input class="m1-r" label="Nombre" value="{{query.firstName}}"></paper-input>
                  <paper-input class="m1-r" label="Apellido" value="{{query.lastName}}"></paper-input>
                  <paper-button raised class="accent self-center" on-tap="searchUsers">Buscar</paper-button>
                </div>
                <prism-table>
                    <prism-thead>
                        <prism-tr>
                            <prism-th>Nombre</prism-th>
                            <prism-th>Email</prism-th>
                            <prism-th>Acción</prism-th>
                        </prism-tr>
                    </prism-thead>
                    <prism-tbody>
                      <template is="dom-repeat" items="[[users]]" index-as="index">
                        <prism-tr>
                            <prism-td title="Fecha">[[localize('date','value',item.createdAt)]]</prism-td>
                            <prism-td title="Nombre">[[item.firstName]] [[item.lastName]]</prism-td>
                            <prism-td title="Email">[[item.email]]</prism-td>
                            <prism-td title="Accion">
                              <paper-button id="[[item.id]]" raised on-tap="setBenefeciary">Beneficiar</paper-button>
                              <paper-button id="[[item.id]]" raised on-tap="setLucky">Donar</paper-button>
                            </prism-td>
                        </prism-tr>
                      </template>
                    </prism-tbody>
                </prism-table>
              </div>
            </div>
          </section>
          <section name="payments">
            <span class="font-headline s m1-b">Pagos</span>
            <prism-table>
                <prism-thead>
                    <prism-tr>
                        <prism-th>Fecha</prism-th>
                        <prism-th>Numero</prism-th>
                        <prism-th>Usuario</prism-th>
                        <prism-th>Acción</prism-th>
                    </prism-tr>
                </prism-thead>
                <prism-tbody>
                  <template is="dom-repeat" items="[[payments]]" index-as="index">
                    <prism-tr>
                        <prism-td title="Fecha">[[localize('date','value',item.createdAt)]]</prism-td>
                        <prism-td title="Fecha">[[item.createdAt]]</prism-td>
                        <prism-td title="Numero">[[item.transferNumber]]</prism-td>
                        <prism-td title="Usuario">[[item.payer.email]]</prism-td>
                        <prism-td title="Accion">
                          <paper-button id="[[item.id]]" raised class="primary" on-click="setPayment">Aprobar</paper-button>
                        </prism-td>
                    </prism-tr>
                  </template>
                </prism-tbody>
            </prism-table>
          </section>
        </iron-pages>
      </div>
      <paper-dialog id="benefitsDialog" class="vertical">
        <span class="font-display1">Beneficios</span>
        <span>Selecciona el beneficio</span>
        <div class="benefits">
          <paper-radio-group id="group" selected="{{benefit}}">
            <paper-radio-button name="PL001">1 dia</paper-radio-button>
            <paper-radio-button name="PL002">1 semana</paper-radio-button>
            <paper-radio-button name="PL003">1 mes</paper-radio-button>
            <paper-radio-button name="TO001">1 propiedad</paper-radio-button>
            <paper-radio-button name="TO002">10 propeidades</paper-radio-button>
            <paper-radio-button name="TO003">25 propiedades</paper-radio-button>
            <paper-radio-button name="TO004">50 propiedades</paper-radio-button>
          </paper-radio-group>
        </div>
        <div class="horizontl self-end">
          <paper-button on-tap="benefy">Beneficiar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="benefitsPDialog" class="vertical">
        <span class="font-display1">Beneficios</span>
        <span>Selecciona el beneficio</span>
        <div class="benefits">
          <paper-radio-group id="benf" selected="{{benefit}}">
            <paper-radio-button name="PL001">1 dia</paper-radio-button>
            <paper-radio-button name="PL002">1 semana</paper-radio-button>
            <paper-radio-button name="PL003">1 mes</paper-radio-button>
            <paper-radio-button name="TO001">1 propiedad</paper-radio-button>
            <paper-radio-button name="TO002">10 propeidades</paper-radio-button>
            <paper-radio-button name="TO003">25 propiedades</paper-radio-button>
            <paper-radio-button name="TO004">50 propiedades</paper-radio-button>
          </paper-radio-group>
        </div>
        <div class="horizontl self-end">
          <paper-button on-tap="verify">Verificar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="luckyDialog" class="vertical">
        <span class="font-display1">Beneficios</span>
        <span>Selecciona el beneficio</span>
        <div class="benefits">
          <paper-radio-group id="benf" selected="{{benefit}}">
            <paper-radio-button name="PL001">1 dia</paper-radio-button>
            <paper-radio-button name="PL002">1 semana</paper-radio-button>
            <paper-radio-button name="PL003">1 mes</paper-radio-button>
            <paper-radio-button name="TO001">1 propiedad</paper-radio-button>
            <paper-radio-button name="TO002">10 propeidades</paper-radio-button>
            <paper-radio-button name="TO003">25 propiedades</paper-radio-button>
            <paper-radio-button name="TO004">50 propiedades</paper-radio-button>
          </paper-radio-group>
        </div>
        <div class="horizontl self-end">
          <paper-button on-tap="donate">Donar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="wait" modal>
        <span>Espere...</span>

      </paper-dialog>
    </app-drawer-layout>
  </template>
  <script>
    class AccountView extends SearchMixin(GlobalStoreMixin(Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior],Polymer.Element))) {
      static get is() {return 'account-view';}
      static get properties(){
        return {
          language:{
            type:String,
            value:'es'
          },
          users:{
            type:Array,
            statePath:'search.users.entities'
          },
          query:{
            type:Object,
            value:()=>{
              return {
                email:null,
                firstName:null,
                lastName:null
              }
            }
          },
          payments:{
            type:Array,
            statePath : 'search.payments'
          },
          stats:{
            type:Object,
            statePath:'search.stats'
          },
          loading:{
            type:Boolean,
            value:false
          },
          resources:{
            value:function(){
              return{
                'en':{
                  'date' : '{value,date,medium}'
                },
                'es':{
                  'date' : '{value,date,medium}'
                }
              }
            }
          },
          route:String,
          page:String,
          beneficiary: String,
          payment:String,
          benefit : {
            type : String,
            value : 'PL001'
          }
        }
      }
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }
      searchStats(){
        this.dispatch('getStats',(e)=>{
          if(e)return showMessage('No pudimos obtener las estadísticas');
        })
      }
      searchUsers(){
        var query={};
        Object.keys(this.query).forEach((key)=>{
          if(this.query[key]){
            query[key]=this.query[key];
          }
        });
        this.dispatch('searchUsers',query,(e)=>{
          if(e)return showMessage('Error en la búsqueda');
        });
      }
      getUser(e){
        var id = e.model.__data.item.id;
        this.selectUser(id);
      }
      selectUser(id){
        this.loading=true;
        this.dispatch('selectUser',id,(e)=>{
          this.loading=false;
          if(e)return showMessage('Error obteniendo la información del usuario');
        });
      }
      updateUserMr(){
        var newMr = parseInt(this.$.maxRecoSelector.value);
        this.dispatch('updateUserMr',this.su.id,newMr,(e)=>{
          if(e)return showMessage('Error actualizando el MR');
          return showMessage('Usuario actualizado.');
        });
      }
      _routePageChanged(page){
        if(page===undefined){
          return;
        }
        if(page===''){
          this.page='start';
        }else{
          this.page=page;
          if(page == 'payments'){
            console.log('a cargar');
            this.dispatch('loadPayments');
          }
        }
      }
      setBenefeciary(e){
        this.set('beneficiary',e.target.id);
        this.$.benefitsDialog.open();
      }
      setLucky(e){
        this.set('beneficiary',e.target.id);
        this.$.luckyDialog.open();
      }
      setPayment(e){
        this.set('payment',e.target.id);
        console.log('a verificar');
        this.$.benefitsPDialog.open();
      }
      benefy(e){
        this.$.wait.open();
        this.$.benefitsDialog.close();
        this.dispatch('promoteToPlus',this.beneficiary,this.benefit,(err)=>{
          showMessage('Beneficio agregado');
          this.$.benefitsDialog.close();
          this.$.wait.close();
        });
      }
      verify(e){
        this.$.benefitsPDialog.close();
        this.$.wait.open();
        this.dispatch('verifyPayment',this.payment,this.benefit,(err)=>{
          showMessage('Beneficio agregado');
          this.dispatch('loadPayments');
          this.$.wait.close();
        });
      }
      donate(e){
        console.log('A donar',this.benefit);
        this.$.luckyDialog.close();
        this.$.wait.open();
        this.dispatch('donateBenefit',this.beneficiary,this.benefit,(err)=>{
          showMessage('Beneficio donado');
          this.$.wait.close();
        });
      }
    }
    window.customElements.define(AccountView.is, AccountView);
  </script>
</dom-module>
