<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/prism-table/prism-data-table.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../redux/global-store.html">
<link rel="import" href="../redux/actions/search-actions.html">

<dom-module id="account-view">
  <template>
    <style include="shared-styles app-grid-style">
      :host {
        display: block;
        --app-grid-columns: 4;
        --app-grid-gutter: 12px;
        --app-grid-expandible-item-columns: 2;
        --app-grid-item-height: 50%;
      }
      div.card{
        @apply --shadow-elevation-2dp;
        padding: 8px;
        background-color: #fff;
      }
      .relative{
        position: relative;
      }
      div.overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.3);
      }
      div.results{
        max-height: 600px;
        overflow: auto;
        margin-top: 12px;
      }
      div.results-top{
        padding: 8px;
        @apply --layout-horizontal;
      }
      div.result{
        padding: 8px;
        @apply --layout-horizontal;
        height: 32px;raised
        border-bottom: 1px solid rgba(0,0,0,0.3);
      }
      div.result:nth-last-child(2){
        border-bottom: 0px;
      }
      span.link{
        color: var(--accent-color);
        cursor: pointer;
      }
      div.benefits{
        width: 25rem;
      }
      span.stat{
        width: 10rem;
      }
      paper-card.stat{
        height: 150px;
        width: 150px;
        margin: 8px;
      }
      .emails{
        height: calc( 100vh - 310px );
        overflow: auto;
      }
      .emails prism-table{
        background-color: #fff;
      }
      div.container{
        padding: 2rem;
      }
      paper-card.spaced{
        margin-bottom: 1rem;
      }
      iron-image.photo{
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }
    </style>
    <script>
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <iron-ajax
    auto
    url="/getKeys"
    handle-as="json"
    on-response="setKeys"></iron-ajax>
    <app-route
        route="{{route}}"
        pattern="/:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>
    <app-route route="{{route}}" pattern="/account/payments" on-active-changed="loadPayments" data="{{data}}" tail="{{tail}}"></app-route>
    <app-route route="{{route}}" pattern="/account/props" on-active-changed="loadPropsStats" data="{{data}}" tail="{{tail}}"></app-route>
    <app-drawer-layout>
      <app-drawer slot="drawer">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="start" href="/account/start">Inicio</a>
          <a name="users" href="/account/users">Usuarios</a>
          <a name="users" href="/account/payments">Pagos por Verificar</a>
          <a name="users" href="/account/props">Propiedades</a>
          <a name="users" href="/account/emails">Correos</a>
        </iron-selector>
      </app-drawer>
      <div>
        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="start" role="main">
          <section name="start" class="vertical p2">
            <div class="horizontal m1-b">
              Administrador
            </div>
          </section>
          <section name="users" class="p2 vertical">
            <span class="font-display1 self-start m1-b">Usuarios</span>
            <div class="horizontal">
              <div class="vertical flex">
                <span class="font-headline s m1-b">Filtros</span>
                <div class="card vertical">
                  <div class="horizontal">
                    <paper-input class="m1-r" label="Email" value="{{userQuery.email}}"></paper-input>
                    <paper-input class="m1-r" label="Nombre" value="{{userQuery.firstName}}"></paper-input>
                    <paper-input class="m1-r" label="Apellido" value="{{userQuery.lastName}}"></paper-input>
                  </div>
                  <div class="">
                    <vaadin-date-picker id="propFrom" value="{{userQuery.from}}" label="Desde"></vaadin-date-picker>
                    <vaadin-date-picker id="propTo" value="{{userQuery.to}}" label="Hasta"></vaadin-date-picker>
                    <paper-button raised class="accent self-center" on-tap="searchUsers">Buscar</paper-button>
                  </div>
                </div>
                <div class="card horizontal">
                  <paper-dropdown-menu label="Propiedades">
                    <paper-listbox   slot="dropdown-content" attr-for-selected="users" selected="{{filters.props}}">
                      <paper-item users="a">Ascendente</paper-item>
                      <paper-item users="d">Descendente</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu>
                  <!-- <paper-dropdown-menu id="Dropdown" label="Propiedades">
                    <paper-listbox slot="dropdown-content" attr-for-selected="state" selected="{{propsQuery.state}}">
                      <paper-item state="a">Ascendente</paper-item>
                      <paper-item state="v">Descendente</paper-item>
                    </paper-listbox>
                  </paper-dropdown-menu> -->
                  <paper-button raised class="accent self-center" on-tap="sortByProps">Filtrar</paper-button>
                </div>
                <prism-table>
                    <prism-thead>
                        <prism-tr>
                            <prism-th>Nombre</prism-th>
                            <prism-th>Email</prism-th>
                            <prism-th>Fecha</prism-th>
                            <prism-th>Propiedades</prism-th>
                            <prism-th>log in</prism-th>
                            <prism-th>Acción</prism-th>
                        </prism-tr>
                    </prism-thead>
                    <prism-tbody>
                      <template is="dom-repeat" items="[[users]]" index-as="index">
                        <prism-tr>
                            <prism-td title="Nombre"><a id="[[item.id]]" href="/account/user/[[item.id]]" on-click="loadUser">[[item.firstName]] [[item.lastName]]</a></prism-td>
                            <prism-td title="Email">[[item.email]]</prism-td>
                            <prism-td title="Fecha">[[localize('date','value',item.createdAt)]]</prism-td>
                            <prism-td title="Propiedades">[[item.properties.length]]</prism-td>
                            <prism-td title="login">[[item.passports.0.protocol]]</prism-td>
                            <prism-td title="Accion">
                              <paper-button id="[[item.id]]" raised on-tap="setBenefeciary">Beneficiar</paper-button>
                              <paper-button id="[[item.id]]" raised on-tap="setLucky">Donar</paper-button>
                              <paper-button id="[[item.id]]" raised on-tap="setUserDelete">Eliminar</paper-button>
                            </prism-td>
                        </prism-tr>
                      </template>
                    </prism-tbody>
                </prism-table>
              </div>
            </div>
          </section>
          <section name="payments">
            <span class="font-headline s m1-b">Pagos</span>
            <prism-table>
                <prism-thead>
                    <prism-tr>
                        <prism-th>Fecha</prism-th>
                        <prism-th>Numero</prism-th>
                        <prism-th>Usuario</prism-th>
                        <prism-th>Acción</prism-th>
                    </prism-tr>
                </prism-thead>
                <prism-tbody>
                  <template is="dom-repeat" items="[[payments]]" index-as="index">
                    <prism-tr>
                        <prism-td title="Fecha">[[localize('date','value',item.createdAt)]]</prism-td>
                        <prism-td title="Numero">[[item.transferNumber]]</prism-td>
                        <prism-td title="Usuario">[[item.payer.email]]</prism-td>
                        <prism-td title="Accion">
                          <paper-button id="[[item.id]]" raised class="primary" on-click="setPayment">Aprobar</paper-button>
                          <paper-button id="[[item.id]]" raised class="primary" on-click="setDeletePayment">Eliminar</paper-button>
                        </prism-td>
                    </prism-tr>
                  </template>
                </prism-tbody>
            </prism-table>
          </section>
          <section name="props">
            <div class="vertical">
              <span  class="font-headline s m1-b">Propiedades</span>
              <paper-card>
                <div class="card-content vertical">
                  <div class="">
                    Total : [[propStats.total]]
                  </div>
                  <div class="">
                    <span class="stat">
                      Pendientes : [[propStats.pendent]]
                    </span>
                    <span class="stat">
                      No publicadas : [[propStats.noPublish]]
                    </span>
                    <span class="stat">
                      Publicadas : [[propStats.published]]
                    </span>
                  </div>
                </div>
              </paper-card>
            </div>
            <div class="horizontal">
              <div class="vertical flex">
                <span class="font-headline s m1-b">Filtros</span>
                <div class="card vertical">
                  <div class="horizontal">
                    <paper-input class="m1-r" label="Id" value="{{propsQuery.id}}"></paper-input>
                    <paper-input class="m1-r" label="title" value="{{propsQuery.title}}"></paper-input>
                    <paper-dropdown-menu id="propState" label="Estado">
                      <paper-listbox slot="dropdown-content" attr-for-selected="state" selected="{{propsQuery.state}}">
                        <paper-item state="a">Todo</paper-item>
                        <paper-item state="v">Publicada</paper-item>
                        <paper-item state="n">No publicada</paper-item>
                        <paper-item state="p">Pendiente</paper-item>
                      </paper-listbox>
                    </paper-dropdown-menu>
                  </div>
                  <div class="horizontal">
                    <vaadin-date-picker id="propFrom" value="{{propsQuery.from}}" label="Desde"></vaadin-date-picker>
                    <vaadin-date-picker id="propTo" value="{{propsQuery.to}}" label="Hasta"></vaadin-date-picker>
                    <paper-button raised class="accent self-center" on-tap="searchProps">Buscar</paper-button>
                  </div>
                </div>
                <span>[[props.length]] Resultados</span>
                <prism-table>
                    <prism-thead>
                        <prism-tr>
                            <prism-th>Id</prism-th>
                            <prism-th>Fecha</prism-th>
                            <prism-th>Titulo</prism-th>
                            <prism-th>Estado</prism-th>
                            <prism-th>Ciudad</prism-th>
                            <prism-th>Acción</prism-th>
                        </prism-tr>
                    </prism-thead>
                    <prism-tbody>
                      <template is="dom-repeat" items="[[props]]" index-as="index">
                        <prism-tr>
                            <prism-td title="Id"><a id="[[item.id]]" href="/account/prop/[[item.id]]" on-click="loadProp">[[item.shortId]]</a></prism-td>
                            <prism-td title="Fecha">[[localize('date','value',item.lastPublishedDate)]]</prism-td>
                            <prism-td title="Nombre">[[item.title]]</prism-td>
                            <prism-td title="Estado">[[localize('state','value',item.state)]]</prism-td>
                            <prism-td title="Ciudad">[[item.city]]</prism-td>
                            <prism-td title="Accion">
                              <template is="dom-if" if="[[!item.shared]]" restamp="true">
                                <paper-button id="[[item.id]]" class="accent" raised on-tap="shareFacebook">Compartir</paper-button>
                              </template>
                              <template is="dom-if" if="[[item.shared]]" restamp="true">
                                <paper-button id="[[item.id]]" raised on-tap="shareFacebook">Compartir</paper-button>
                              </template>
                              <paper-button id="[[item.id]]" raised on-tap="unPublish">Dejar de publicar</paper-button>
                              <paper-button id="[[item.id]]" raised on-tap="setDeleteProp">Eliminar</paper-button>
                            </prism-td>
                        </prism-tr>
                      </template>
                    </prism-tbody>
                </prism-table>
              </div>
            </div>
          </section>
          <section name="emails">
            <div class="vertical h-100">
              <div class="vertical dark-primary">
                <div class="p1 horizontal">
                  <span class="font-display1">Correos</span>
                  <paper-spinner active="[[emailsLoading]]"></paper-spinner>
                </div>
                <paper-tabs selected="{{emailsPage}}">
                  <paper-tab>Estadísticas</paper-tab>
                  <paper-tab>Listas</paper-tab>
                </paper-tabs>
              </div>
              <div class="vertical flex">
                <iron-pages selected="[[emailsPage]]">
                  <section class="vertical">
                    <div class="p1 horizontal">
                      <paper-radio-group selected="{{emailsTime}}">
                        <paper-radio-button name="week">La última semana</paper-radio-button>
                        <paper-radio-button name="month">El último mes</paper-radio-button>
                      </paper-radio-group>
                    </div>
                    <div class="horizontal wrap w-100">
                        <paper-card class="stat">
                          <div class="card-content vertical">
                            <span class="font-display2">[[emailStats.total]]</span>
                            <span>Contactos con propietarios</span>
                          </div>
                        </paper-card>
                        <paper-card class="stat">
                          <div class="card-content vertical">
                            <span class="font-display2">[[emailStats.addresses]]</span>
                            <span>Nuevos Correos</span>
                          </div>
                        </paper-card>
                        <paper-card class="stat">
                          <div class="card-content vertical">
                            <span class="font-display2">[[emailStats.props]]</span>
                            <span>Propiedades consultadas</span>
                          </div>
                        </paper-card>
                    </div>
                  </section>
                  <section>
                    <div class="vertical h-100">
                      <div class="vertical p1 light-primary">
                        <span class="font-title p1">Filtros:</span>
                        <div class="horizontal p1">
                          <paper-input label="Email" value="{{emailsQuery.email}}"></paper-input>
                          <vaadin-date-picker value="{{emailsQuery.from}}" label="Desde" class="m1-l"></vaadin-date-picker>
                          <vaadin-date-picker value="{{emailsQuery.to}}" label="Hasta" class="m1-l"></vaadin-date-picker>
                          <paper-button raised class="accent m1-l self-center" on-tap="searchEmails">Buscar</paper-button>
                          <paper-button raised class="accent m1-l self-center" on-tap="downloadEmailList">Descargar</paper-button>
                        </div>
                      </div>
                      <div class="vertical">
                        <span class="font-title p1">Total: [[emailsCount]] direcciones</span>
                        <div class="vertical p1 emails">
                          <prism-table shadow>
                              <prism-thead>
                                  <prism-tr>
                                      <prism-th>Email</prism-th>
                                      <prism-th>Nombre</prism-th>
                                      <prism-th>Teléfono</prism-th>
                                      <prism-th>Fecha</prism-th>
                                  </prism-tr>
                              </prism-thead>
                              <prism-tbody>
                                <template is="dom-repeat" items="[[emails]]">
                                  <prism-tr>
                                      <prism-td title="Email">[[item.email]]</prism-td>
                                      <prism-td title="Nombre">[[item.name]]</prism-td>
                                      <prism-td title="Teléfono">[[item.phone]]</prism-td>
                                      <prism-td title="Fecha">[[item.date]]</prism-td>
                                  </prism-tr>
                                </template>
                              </prism-tbody>
                          </prism-table>
                        </div>
                      </div>
                    </div>
                  </section>
                </iron-pages>
              </div>
            </div>
          </section>
          <section name="user">
            <div class="vertical h-100">
              <div class="vertical dark-primary">
                <div class="horizontal">
                  <div class="p1 vertical flex">
                    <span class="font-display1">[[selectedUser.firstName]] [[selectedUser.lastName]]
                    </span>
                    <span>Propiedades : [[selectedUser.properties.length]]</span>
                    <template is="dom-if" if="[[selectedUser.isPlus]]" restamp="true">
                      <span>Cliente Plus : [[localize('date','value',selectedUser.plusUntil)]]</span>
                    </template>
                    <span>Tokens : [[selectedUser.promoteTokens]]</span>
                  </div>
                  <iron-image src="[[photoUrl]]" preload sizing="cover" class="photo self-end" placeholder="/images/user_no_photo.jpg"></iron-image>
                </div>
              </div>
              <div class="container vertical">
                <paper-card class="spaced">
                  <div class="card-content vertical">
                    <span>
                      [[selectedUser.email]]
                      <template is="dom-if" if="[[selectedUser.mailVerified]]" restamp="true">
                        <span>(verificado)</span>
                      </template>
                      <template is="dom-if" if="[[!selectedUser.mailVerified]]" restamp="true">
                        <span>(no verificado)</span>
                      </template>
                    </span>
                    <template is="dom-repeat" items="[[selectedUser.phones]]" index-as="index">
                      [[item]]
                    </template>
                    <span class="font-title">Información</span>
                    <span>id : [[selectedUser.extraInfo.id]]</span>
                    <span>nacimiento : [[selectedUser.extraInfo.birthDate]]</span>
                    <span>[[selectedUser.extraInfo.location.address]] - [[selectedUser.extraInfo.location.city]]</span>
                  </div>
                </paper-card>
                <template is="dom-if" if="[[selectedUser.enterprise]]" restamp="true">
                  <paper-card class="spaced">
                    <div class="card-content vertical">
                      <span><span class="font-title">[[selectedUser.enterprise.name]]</span> [[localize('enterprise','value',selectedUserEnterprise)]]</span>
                      <span>[[selectedUser.enterprise.location.address]]</span>
                      <span>[[selectedUser.enterprise.location.city]]</span>
                    </div>
                  </paper-card>
                </template>
                <paper-card class="spaced">
                  <div class="card-content vertical">
                    <span class="font-title">Pagos</span>
                    <prism-table>
                        <prism-thead>
                            <prism-tr>
                                <prism-th>Fecha</prism-th>
                                <prism-th>Tipo</prism-th>
                                <prism-th>Metodo</prism-th>
                                <prism-th>Verificado</prism-th>
                            </prism-tr>
                        </prism-thead>
                        <prism-tbody>
                          <template is="dom-repeat" items="[[selectedUser.payments]]" index-as="index">
                            <prism-tr>
                                <prism-td title="Fecha">[[localize('date','value',item.createdAt)]]</prism-td>
                                <prism-td title="Tipo">[[item.type]]</prism-td>
                                <prism-td title="Metodo">[[item.method]]</prism-td>
                                <prism-td title="Verificado">[[item.verified]]</prism-td>
                            </prism-tr>
                          </template>
                        </prism-tbody>
                    </prism-table>
                  </div>
                </paper-card>
                <paper-card>
                  <div class="card-content">
                    <prism-table>
                        <prism-thead>
                            <prism-tr>
                                <prism-th>Titulo</prism-th>
                                <prism-th>Ciudad</prism-th>
                                <prism-th>Estado</prism-th>
                            </prism-tr>
                        </prism-thead>
                        <prism-tbody>
                          <template is="dom-repeat" items="[[selectedUser.properties]]" index-as="index">
                            <prism-tr>
                                <prism-td title="Titulo"><a id="[[item.id]]" href="/account/prop/[[item.id]]" on-click="loadProp">[[item.title]]</a></prism-td>
                                <prism-td title="Ciudad">[[item.city]]</prism-td>
                                <prism-td title="Estado">[[localize('state','value',item.state)]]</prism-td>
                            </prism-tr>
                          </template>
                        </prism-tbody>
                    </prism-table>
                  </div>
                </paper-card>
              </div>
            </div>
          </section>
          <section name="prop">
            <div class="vertical h-100">
              <div class="vertical dark-primary">
                <div class="p1 vertical">
                  <div class="horizontal">
                    <span class="font-display1 flex">
                      <span>[[selectedProp.title]] - [[localize('type','value',selectedPropType)]]</span>
                    </span>
                    <span class="font-subhead">[[localize('state','value',selectedPropState)]]</span>
                  </div>
                  <span>[[selectedProp.city]]</span>
                </div>
              </div>
              <div class="container">
                <paper-card class="spaced">
                  <div class="card-content vertical">
                    <span><b>Descipción :  </b>[[selectedProp.description]]</span>
                    <span><b>Precio :  </b>$[[selectedProp.payment]] / [[selectedProp.paymentPeriod]]</span>
                    <span><b>Area :  </b>[[selectedProp.area]]m</span>
                    <span><b>Descripción del barrio :  </b>[[selectedProp.zoneDescription]]</span>
                    <span><b>Descuento :  </b>[[selectedProp.discount]]%</span>
                    <span><b>Dirección :  </b>[[selectedProp.address]] [[selectedProp.locality]]</span>
                    <a href="https://www.ecuadorhouserentals.com/prop/[[selectedProp.id]]">https://www.ecuadorhouserentals.com/prop/[[selectedProp.id]]</a>
                  </div>
                </paper-card>
                <paper-card>
                  <div class="card-content vertical">
                    <span class="font-title">Usuario</span>
                    <span><a id="[[selectedProp.owner.id]]" href="/account/user/[[selectedProp.owner.id]]" on-click="loadUser">[[selectedProp.owner.firstName]][[selectedProp.owner.lastName]]</a></span>
                    <span>[[selectedProp.owner.email]]</span>
                  </div>
                </paper-card>
              </div>
            </div>
          </section>
        </iron-pages>
      </div>
      <paper-dialog id="benefitsDialog" class="vertical">
        <span class="font-display1">Beneficios</span>
        <span>Selecciona el beneficio</span>
        <div class="benefits">
          <paper-radio-group id="group" selected="{{benefit}}">
            <paper-radio-button name="PL001">1 dia,$3</paper-radio-button>
            <paper-radio-button name="PL002">1 semana,$5</paper-radio-button>
            <paper-radio-button name="PL003">1 mes,$10</paper-radio-button>
            <paper-radio-button name="TO001">1 propiedad,$3</paper-radio-button>
            <paper-radio-button name="TO002">10 propeidades,$20</paper-radio-button>
            <paper-radio-button name="TO003">25 propiedades,$37.50</paper-radio-button>
            <paper-radio-button name="TO004">50 propiedades$50</paper-radio-button>
          </paper-radio-group>
        </div>
        <div class="horizontl self-end">
          <paper-button on-tap="benefy">Beneficiar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="benefitsPDialog" class="vertical">
        <span class="font-display1">Beneficios</span>
        <span>Selecciona el beneficio</span>
        <div class="benefits">
          <paper-radio-group id="benf" selected="{{benefit}}">
            <paper-radio-button name="PL001">1 dia,$3</paper-radio-button>
            <paper-radio-button name="PL002">1 semana,$5</paper-radio-button>
            <paper-radio-button name="PL003">1 mes,$10</paper-radio-button>
            <paper-radio-button name="TO001">1 propiedad,$3</paper-radio-button>
            <paper-radio-button name="TO002">10 propeidades,$20</paper-radio-button>
            <paper-radio-button name="TO003">25 propiedades,$37.50</paper-radio-button>
            <paper-radio-button name="TO004">50 propiedades$50</paper-radio-button>
          </paper-radio-group>
        </div>
        <div class="horizontl self-end">
          <paper-button on-tap="verify">Verificar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="luckyDialog" class="vertical">
        <span class="font-display1">Beneficios</span>
        <span>Selecciona el beneficio</span>
        <div class="benefits">
          <paper-radio-group id="benf" selected="{{benefit}}">
            <paper-radio-button name="PL001">1 dia,$3</paper-radio-button>
            <paper-radio-button name="PL002">1 semana,$5</paper-radio-button>
            <paper-radio-button name="PL003">1 mes,$10</paper-radio-button>
            <paper-radio-button name="TO001">1 propiedad,$3</paper-radio-button>
            <paper-radio-button name="TO002">10 propeidades,$20</paper-radio-button>
            <paper-radio-button name="TO003">25 propiedades,$37.50</paper-radio-button>
            <paper-radio-button name="TO004">50 propiedades$50</paper-radio-button>
          </paper-radio-group>
        </div>
        <div class="horizontl self-end">
          <paper-button on-tap="donate">Donar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="userDelete" class="vertical">
        <span class="font-display1">Eliminando usuario</span>
        <span>Estas seguro que deseas eliminar este usuario</span>
        <div class="horizontl self-end">
          <paper-button on-tap="deleteUser">Eliminar</paper-button>
          <paper-button on-tap="donate">Cancelar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="propDelete" class="vertical">
        <span class="font-display1">Eliminando propiedad</span>
        <span>Estas seguro que deseas eliminar esta propiedad</span>
        <div class="horizontl self-end">
          <paper-button on-tap="deleteProp">Eliminar</paper-button>
          <paper-button on-tap="donate">Cancelar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="paymentDelete" class="vertical">
        <span class="font-display1">Eliminando pago</span>
        <span>Estas seguro que deseas eliminar este pago</span>
        <div class="horizontl self-end">
          <paper-button on-tap="deletePayment">Eliminar</paper-button>
          <paper-button on-tap="donate">Cancelar</paper-button>
        </div>
      </paper-dialog>
      <paper-dialog id="wait" modal>
        <span>Espere...</span>
      </paper-dialog>
    </app-drawer-layout>
  </template>
  <script>
    class AccountView extends SearchMixin(GlobalStoreMixin(Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior],Polymer.Element))) {
      static get is() {return 'account-view';}
      static get properties(){
        return {
          language:{
            type:String,
            value:'es'
          },
          selectedUser:{
            type:Object,
            statePath:'search.users.selectedUser'
          },
          selectedProp:{
            type:Object,
            statePath:'search.props.selectedProp'
          },
          selectedPropState:{
            type:String,
            statePath:(state) =>{
              if(state.search.props.selectedProp){
                return state.search.props.selectedProp.state;
              }else{
                return 'n';
              }
            }
          },
          filters:{
            type:Object,
            value:()=>{
              return {
                props : 'a'
              }
            }
          },
          selectedUserEnterprise:{
            type:String,
            statePath:(state) =>{
              if(state.search.users.selectedUser.enterprise){
                return state.search.users.selectedUser.enterprise.type;
              }else{
                return 'r';
              }
            }
          },
          selectedPropType:{
            type:String,
            statePath:(state) =>{
              if(state.search.props.selectedProp){
                return state.search.props.selectedProp.type;
              }else{
                return 'n';
              }
            }
          },
          users:{
            type:Array,
            statePath:'search.users.entities'
          },
          props:{
            type:Array,
            statePath: 'search.props.entities'
          },
          userQuery:{
            type:Object,
            value:()=>{
              return {
                email:null,
                firstName:null,
                lastName:null
              }
            }
          },
          propsQuery:{
            type:Object,
            value:()=>{
              return {
                id:null,
                state:'a',
                title:null
              }
            }
          },
          propStats:{
            type: Object,
            statePath:'search.props.stats'
          },
          payments:{
            type:Array,
            statePath : 'search.payments'
          },
          stats:{
            type:Object,
            statePath:'search.stats'
          },
          loading:{
            type:Boolean,
            value:false
          },
          photoUrl:{
            type:String,
            computed:'_computePhotoUrl(selectedUser.extraInfo.photo)'
          },
          resources:{
            value:function(){
              return{
                'en':{
                  'date' : '{value,date,medium}',
                  'state' : '{value,select, p {pendiente} v {publicada} n {no puclicada} e {expirada}}',
                  'enterprise' : '{value,select, r {Bienes Raíces} h {Hotel}}',
                  'type':'{type , select, rro {Habitación} rrs {Habitación compartida} hih {Casa Independiente} ddu {Departamento Duplex}hth {Casa Adosada/Junta} dde {Departamento} dpe {Penthouse} dsu {Suite} dlo {Loft} lfa {Quinta/Hacienda} lla {Terreno} cof{Oficina} cse {Local Comercial} cst {Bodega} cga{Garage} cba {Galpon} rsr {Habitación Compartida} tsm {Habitación de Hotel Simple} tdb {Habitación de Hotel doble} ths {Suite de Hotel} tma {Habitacion de Hotel matrimonial} other{}}',
                  'date':'{value,date,medium}'

                },
                'es':{
                  'date' : '{value,date,medium}',
                  'state' : '{value,select,p {pendiente} v {publicada} n {no puclicada} e {expirada}}',
                  'enterprise' : '{value,select, r {Bienes Raíces} h {Hotel}}',
                  'type':'{value , select, rro {Habitación} rrs {Habitación compartida} hih {Casa Independiente} ddu {Departamento Duplex}hth {Casa Adosada/Junta} dde {Departamento} dpe {Penthouse} dsu {Suite} dlo {Loft} lfa {Quinta/Hacienda} lla {Terreno} cof{Oficina} cse {Local Comercial} cst {Bodega} cga{Garage} cba {Galpon} rsr {Habitación Compartida} tsm {Habitación de Hotel Simple} tdb {Habitación de Hotel doble} ths {Suite de Hotel} tma {Habitacion de Hotel matrimonial} other{}}',
                  'date':'{value,date,medium}'
                }
              }
            }
          },
          route:String,
          page:String,
          beneficiary: String,
          payment:String,
          benefit : {
            type : String,
            value : 'PL001'
          },
          emailsPage:{
            type:String,
            value:'0'
          },
          emailsTime:{
            type:String,
            value:'week',
            observer:'_emailsTimeChanged'
          },
          emailsQuery:{
            type:Object,
            value:()=>{
              return {
                from: (new Date()).toFormat('MM/DD/YYYY'),
                to: (new Date()).remove({weeks:1}).toFormat('MM/DD/YYYY'),
                email:''
              }
            }
          },
          emails:{
            type:Array,
            statePath:'search.emails.records'
          },
          emailsCount:{
            type:Number,
            statePath:(state)=>{
              return state.search.emails.records.length;
            }
          },
          emailStats:{
            type:Object,
            statePath:'search.emails.stats'
          },
          emailsLoading:{
            type:Boolean,
            value:false
          }
        }
      }
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }
      searchStats(){
        this.dispatch('getStats',(e)=>{
          if(e)return showMessage('No pudimos obtener las estadísticas');
        })
      }
      searchUsers(){
        var userQuery={};
        Object.keys(this.userQuery).forEach((key)=>{
          if(this.userQuery[key]){
            userQuery[key]=this.userQuery[key];
          }
        });
        if(userQuery.from && userQuery.to){
          userQuery.from = new Date(userQuery.from).getTime();
          userQuery.to = new Date(userQuery.to).getTime();
        }
        console.log(userQuery);
        this.dispatch('searchUsers',userQuery,(e)=>{
          if(e)return showMessage('Error en la búsqueda');
        });
      }
      searchProps(){
        var propsQuery= {};
        Object.keys(this.propsQuery).forEach((key)=>{
          if(this.propsQuery[key]){
            propsQuery[key]=this.propsQuery[key];
          }
        });
        if(propsQuery.from && propsQuery.to){
          propsQuery.from = new Date(propsQuery.from).getTime();
          propsQuery.to = new Date(propsQuery.to).getTime();
        }
        this.dispatch('searchProps',propsQuery,(e)=>{
          if(e)return showMessage('Error en la búsqueda');
        });
      }
      getUser(e){
        var id = e.model.__data.item.id;
        this.selectUser(id);
      }
      selectUser(id){
        this.loading=true;
        this.dispatch('selectUser',id,(e)=>{
          this.loading=false;
          if(e)return showMessage('Error obteniendo la información del usuario');
        });
      }
      updateUserMr(){
        var newMr = parseInt(this.$.maxRecoSelector.value);
        this.dispatch('updateUserMr',this.su.id,newMr,(e)=>{
          if(e)return showMessage('Error actualizando el MR');
          return showMessage('Usuario actualizado.');
        });
      }
      _routePageChanged(page){
        if(page===undefined){
          return;
        }
        if(page===''){
          this.page='start';
        }else{
          this.page=page;
          if(page == 'payments'){
            this.dispatch('loadPayments');
          }
          if(page ==='emails'){
            this.loadEmailStats();
          }
        }
      }
      setBenefeciary(e){
        this.set('beneficiary',e.target.id);
        this.$.benefitsDialog.open();
      }
      setLucky(e){
        this.set('beneficiary',e.target.id);
        this.$.luckyDialog.open();
      }
      setUserDelete(e){
        this.set('userToDelete',e.target.id);
        this.$.userDelete.open();
      }
      setDeleteProp(e){
        this.set('propToDelete',e.target.id);
        this.$.propDelete.open();
      }
      setDeletePayment(e){
        this.set('paymentToDelete',e.target.id);
        this.$.paymentDelete.open();
      }
      setPayment(e){
        this.set('payment',e.target.id);
        this.$.benefitsPDialog.open();
      }
      deleteUser(e){
        this.dispatch('deleteUser',this.userToDelete,(err)=>{
          if (err) return showMessage(err);
          showMessage('Usuario eliminado');
          this.searchUsers();
          this.$.userDelete.close();
        })
      }
      deleteProp(e){
        this.dispatch('deleteProp',this.propToDelete,(err)=>{
          if (err) return showMessage(err);
          showMessage('Propiedad eliminado');
          this.searchProps();
          this.$.propDelete.close();
        })
      }
      deletePayment(e){
        this.dispatch('deletePayment',this.paymentToDelete,(err)=>{
          if (err) return showMessage(err);
          showMessage('Pago eliminado');
          this.loadPayments();
          this.$.paymentDelete.close();
        })
      }
      _computePhotoUrl(photo){
        if(photo){
          if(photo.indexOf('http')>=0){
            return photo;
          }else{
            return 'http://res.cloudinary.com/hmeefwd4l/image/upload/'+photo+'.jpg';
          }
        }else{
          return null;
        }
      }
      benefy(e){
        this.$.wait.open();
        this.$.benefitsDialog.close();
        this.dispatch('promoteToPlus',this.beneficiary,this.benefit,(err)=>{
          showMessage('Beneficio agregado');
          this.$.benefitsDialog.close();
          this.$.wait.close();
        });
      }
      verify(e){
        this.$.benefitsPDialog.close();
        this.$.wait.open();
        this.dispatch('verifyPayment',this.payment,this.benefit,(err)=>{
          showMessage('Beneficio agregado');
          this.dispatch('loadPayments');
          this.$.wait.close();
        });
      }
      loadPayments(){
        this.dispatch('loadPayments');
      }
      loadPropsStats(){
        this.dispatch('loadPropsStats',(json)=>{
        });
      }
      unPublish(e){
        this.dispatch('unPublishProp',e.target.id,(err)=>{
          if (err) return showMessage(err);
          this.searchProps();
          this.loadPropsStats();
          showMessage('Propiedad despublicada');
        });
      }
      donate(e){
        this.$.luckyDialog.close();
        this.$.wait.open();
        this.dispatch('donateBenefit',this.beneficiary,this.benefit,(err)=>{
          showMessage('Beneficio donado');
          this.$.wait.close();
        });
      }
      _emailsTimeChanged(newVal,oldVal){
        if(!newVal)return;
        this.loadEmailStats();
      }
      loadEmailStats(){
        this.emailsLoading=true;
        this.dispatch('getEmailStats',this.emailsTime,(error)=>{
          if(error)return showMessage('Error cargando las estadísticas de los emails');
          this.emailsLoading=false;
        })
      }
      searchEmails(){
        this.emailsLoading=true;
        this.dispatch('updateEmailQuery',this.emailsQuery);
        this.dispatch('getEmailList',this.emailsQuery,(err)=>{
          if(err)return showMessage('Hubo un error obteninedo la lista');
          this.emailsLoading=false;
        });
      }
      loadUser(e){
        console.log(e.target.id);
        this.dispatch('loadSingleUser',e.target.id);
      }
      loadProp(e){
        console.log(e.target.id);
        this.dispatch('loadSingleProp',e.target.id);
      }
      downloadEmailList(){
        var emailsQuery = this.emailsQuery;
        var result = window.location.origin + '/stats/get-email-list?';
        if(emailsQuery.from){
          result+='from='+emailsQuery.from;
        }
        if(emailsQuery.to){
          result+='to='+emailsQuery.to;
        }
        if(emailsQuery.email){
          result+='email='+emailsQuery.email;
        }
        window.open(result, '_blank');
      }
      sortByProps(){
        var users = this.users.slice();
        if(this.filters.props == 'a'){
          users.sort((a,b)=>{
            if(b.properties.length>a.properties.length){
              return -1;
            }
            if(b.properties.length<a.properties.length){
              return 1;
            }
            return 0;
          });
        }else{
          users.sort((a,b)=>{
            if(b.properties.length>a.properties.length){
              return 1;
            }
            if(b.properties.length<a.properties.length){
              return -1;
            }
            return 0;
          });
        }
        this.set('users',users);
      }
      shareFacebook(e){
        var id = e.target.id;
        FB.ui({
              method: 'share',
              href: 'https://www.ecuadorhouserentals.com/prop/'+id,
            }, (response)=>{
              console.log(id);
              this.dispatch('markAsShared',id,(err)=>{
                if(err) showMessage(err);
                showMessage('Compartido');
                this.searchProps();
              })
            });
      }
      setKeys(e){
        var keys = e.detail.__data.response;
        console.log(keys.facebook);
        window.fbAsyncInit = ()=> {
          FB.init({
            appId      : keys.facebook,
            xfbml      : true,
            version    : 'v2.8',
            status     : true
          });
        };
      }
    }
    window.customElements.define(AccountView.is, AccountView);
  </script>
</dom-module>
